*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* display: flex; */
    background-color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.row{
    display: flex;
    
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;

}