header {
    display: flex;
    width: 100%;
    height: 70px;
    border-bottom: 1px dotted white;
    /* border: 1px solid white; */
    background-color: black;
    justify-content: space-between;

    >.row {

        width: 20%;
        height: 100%;
        /* border: 1px solid red; */
        /* background-color: brown; */
        display: flex;
        justify-content: center;

        * {
            width: 80%;
            height: 100%;
        }

        >nav {

            >ul {

                display: flex;

                >li {
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    >a {
                        display: flex;
                        align-items: center;
                        /* border: 1px solid yellow; */
                        height: 60%;
                        margin-right: 10px;
                        justify-content: center;
                        position: relative;
                        color: white;

                        &::after {
                            content: '';
                            height: 1px;
                            background-color: white;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 0;
                            transition: 0.4s;
                        }

                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }





                    }
                }
            }
        }

    }

}

/* h////////////////
 */


.row {
    width: 100%;
    height: 50px;
    justify-content: center;

    >h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 280px;
        height: 100px;
        font-size: 40px;
        color: white;
        background-color: rgba(148, 151, 153, 0.205);
        border-radius: 30px;
        transition: 0.5s;

        &:hover {
            scale: 1.2;

        }
    }
}

/* h1finished//////////////// */

.gallery {
    width: 100%;
    margin-top: 80px;
    height: 500px;
    /* border: 1px solid white; */
    display: flex;
    >div{
        border-radius: 20px;
        position: relative;
        height: 100%;
        width: 10px;
        /* border: 1px solid red; */
        flex-grow: 1;
        flex-shrink: 2;
        margin: 0 10px;
        transition: 0.6s;
        flex-wrap: wrap;
       
        &:nth-of-type(1){
            background-image: url(../img/888.jpg);
            background-repeat: no-repeat;
            background-position: center;
        }
        &:nth-of-type(2){
            background-repeat: no-repeat;
            background-image: url(../img/11.jpg);
            background-size: auto;
            background-position: center;
        }
        &:nth-of-type(3){
            background-image: url(../img/wa66.jpg);
            background-repeat: no-repeat;
             background-size: cover;
             background-position: center;
        }
        &:nth-of-type(4){
            background-image: url(../img/222.jpg);
            background-repeat: no-repeat;
             background-size: cover;
             background-position: center;
        }
        &:nth-of-type(5){
            background-image: url(../img/we.jpg);
            background-repeat: no-repeat;
             background-size: cover;
             background-position: center;
        }
        &:nth-of-type(6){
            background-image: url(../img/773.jpg);
            background-repeat: no-repeat;
             background-size: cover;
             background-position: center;
        }
        &:nth-of-type(7){
            background-image: url(../img/666.jpg);
            background-repeat: no-repeat;
             background-size: cover;
             background-position: center;
        }
        &:nth-of-type(8){
            background-image: url(../img/000.jpg);
            background-repeat: no-repeat;
             background-size: cover;
             background-position: center; 
        }
        &:hover{
            /* scale: 0.7; */
            flex-grow: 3;
            
        }
    }



  

}
/* second section ened////// */
footer{
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 130px;
    justify-content: right;
    background-color: rgba(251, 242, 226, 0);
    >.logo{
        padding-right: 40px;
        margin-top: 3px;
        width: 120px;;
        height: 100%;
        position: relative;
        &::after{
            content: 'developed by Elyas Forghani';
            font-size: 12px;
            position: absolute;
            left: 120px;
            bottom: 5px;
            color: rgb(255, 255, 255);
            z-index: 1;
        }
        
        >img{
            /* width: 60px; */
        height: 90%;
        border-radius: 40px;
        border: 1px solid white;
        
        }
        
    }
    >.link{
        display: flex;
        width: 80px;
        
        height: 100%;
        ::after{
            content: 'linkedin';
            font-size: 14px;
        }
        >a{
            width: 40px;
            height: 100%;
        }
    }

}